USE [PRN292_ASS]
GO
/****** Object:  Table [dbo].[def]    Script Date: 11/29/2019 12:15:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[def](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[index] [int] NULL,
	[content] [nvarchar](max) NULL,
	[type] [int] NULL,
	[termid] [int] NULL,
 CONSTRAINT [PK_def] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dictionary]    Script Date: 11/29/2019 12:15:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dictionary](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
 CONSTRAINT [PK_dictionary] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[term]    Script Date: 11/29/2019 12:15:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[term](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dictionaryid] [int] NULL,
	[content] [nvarchar](max) NULL,
 CONSTRAINT [PK_terms] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[termNote]    Script Date: 11/29/2019 12:15:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[termNote](
	[termid] [int] NULL,
	[userid] [int] NULL,
	[note] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 11/29/2019 12:15:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [text] NULL,
	[password] [text] NULL,
	[email] [text] NULL,
	[dob] [date] NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[def] ON 

INSERT [dbo].[def] ([id], [index], [content], [type], [termid]) VALUES (1, 1, N'good /gud/', 3, 1)
INSERT [dbo].[def] ([id], [index], [content], [type], [termid]) VALUES (2, 2, N'  tính từ better,  best', 1, 1)
INSERT [dbo].[def] ([id], [index], [content], [type], [termid]) VALUES (3, 3, N' tốt, hay, tuyệt', 2, 1)
GO
SET IDENTITY_INSERT [dbo].[def] OFF
SET IDENTITY_INSERT [dbo].[dictionary] ON 

INSERT [dbo].[dictionary] ([id], [name]) VALUES (1, N'Anh_Viet')
INSERT [dbo].[dictionary] ([id], [name]) VALUES (2, N'Viet_Anh')
SET IDENTITY_INSERT [dbo].[dictionary] OFF
SET IDENTITY_INSERT [dbo].[term] ON 

INSERT [dbo].[term] ([id], [dictionaryid], [content]) VALUES (1, 1, N'good')
INSERT [dbo].[term] ([id], [dictionaryid], [content]) VALUES (2, 1, N'helmet')
INSERT [dbo].[term] ([id], [dictionaryid], [content]) VALUES (3, 1, N'hello')
SET IDENTITY_INSERT [dbo].[term] OFF
